h2 {
    background: green;
    font-size: 400%;
}
h3 {
    background: chartreuse;
    font-size: 300%;
}

ul {
    background: black;
    font-size: 100%;

}
.big, .large {
    font-size: 400%;
}

ol {
    background: brown;
    font-size: 200%;

}
.title-red {
    color: red;
}

.title-blue{
    color: blue;
}

#main-title.title-red {
    background-color: black;
    color: rgba(255, 255, 0, 0.5);
}